* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body{
    background-color: rgb(36, 38, 43);
}


.choice-order{
	color: white;
	text-align: center;
	margin-top: 1em;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 1rem;
}

.btn-container{
	margin-top: 30px;
	text-align: center;
	display: flex;
	justify-content: center;
	gap: 1em;
}

.normal{
	font-size: 1.2em;
	padding: .3em;
	border-radius: 10px;
	background-color: black;
	border: 2px solid white;
	color: white;
	cursor: pointer;
}

.normal:active{
	background-color: rgb(36, 38, 43);
}

.reverse{
	font-size: 1.2em;
	padding: .3em;
	border-radius: 10px;
	background-color: black;
	border: 2px solid white;
	color: white;
	cursor: pointer;
}

.reverse:active{
	background-color: rgb(36, 38, 43);
}

.deactivate{
	display: none;
}

.your-choice{
	display: none;
}

.activate{
	display: inline;
	color: white;
	font-size: 1.5em;
}

.carousel {
	margin-top: 50px;
	display: flex;
	width: 900px;
	max-width: 100%;
	height: 500px;
	max-height: 80vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    border: 2px solid white
}

.highlighted {
	height: 100%;
	width: 80%;
}




.thumbs {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 20%;
}

.highlighted img {
	display: none;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.carousel .highlighted .active {
	display: block;
}

.carousel .controls {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 15px;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	font-size: 2.5rem;
	z-index: 9;
}

.thumb{
	flex: 1 0 0;
	display: block;
	width: 100%;
	height: 100px;
	object-fit: fill; 
	filter: brightness(.3);
}

.thumbs .active {
	filter: brightness(1);
}

.thumbImg{
    width: 100%;
    height: 100px;
	border: 2px solid lightgrey;
}

.description{
    width: 70%;
    position: absolute;
    text-align: right;
    bottom: 40px;
    right: 200px;
    color: white;
}

.description h2{
    display: none;
}

.description p{
    display: none;
}

.description .active {
    display: block;
}